@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face{
    font-family: league;
    src: url(fonts/leagueSpartan.otf);
}

body{
    padding:0;
    margin:0;
    height:100vh;
    /* background: #53895B;
    background: -webkit-linear-gradient(59deg, #1E7272, #53895B);
    background: linear-gradient(59deg, #1E7272, #53895B);  */
}
nav{
    top:0;
    z-index:3;
    height: 80px;
    background: linear-gradient(59deg, #00171F, #007EA7 );
    border-bottom: 2px solid white;
}

nav .logo{
    color: white;
}

.content{
    margin-top: 70px;
}
.imgIntro{
    width: 90%;
    height: 80%;
}
.back{
    z-index: -1;
    width: 250px;
    height: 300px;
    margin-top: 30px;
    margin-left: 49%;
}
h1, h2{
    font-family: league;
}
.content p{
    font-family: league;
}
p{
    font-family: 'Quicksand';
}
#intro{
    height: 580px;
    z-index:1;
}


#features{
    height: 580px;
    background: linear-gradient(59deg, #00171F, #007EA7 );
    z-index:1;
    /* border: 2px solid black; */
}
.divImgs{
    border: 2px solid white;
    padding:10px;
}

#team{
    height: 300px;
    background: linear-gradient(59deg, #003459, rgb(0, 0, 0) );
    
}
#about{
    height: 580px;
}
.cat{
    max-height:580px;
    width:auto;
}
/* #aboutTitle{
    border-right:1px solid grey;
} */

.firstBtn{
    width: 180px;
}

svg{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
}
@keyframes example{
    from {margin-left: 0px;}
    to {margin-left:5px}
}
